<h3>Edit <%= @user.name %></h3>


<%= render 'form' %>


<% if current_user == @user %>

	<%= form_tag(user_path, method: "delete") do %>
	<%= submit_tag("Delete your account forever") %>
	<% end %>

<% end %>